<div class="container  mt-3">
    <h1 class="text-center">Agis Audio</h1>
    <div class="content-wrapper">

        <grid-item class=one>
        </grid-item>
        <grid-item class="two">

            <div class="card">
                <div class="text-center info-color-white">
                    <h1 class="text-black m-3">Register</h1>
                </div>

                <div class="container pl-2">
                    <div class="alert alert-danger" role="alert" *ngIf="errors.length > 0">
                        <ul>
                            <li *ngFor="let error of errors">
                                {{ error }}
                            </li>
                        </ul>
                    </div>
                    <!--Register form-->
                    <form [formGroup]="frmSignup" class="mr-5 ml-3">

                        <mat-form-field class="form-field-width">
                            <input type="text" matInput placeholder="First Name" formControlName="firstName">
                            <mat-error *ngIf="!frmSignup.get('firstName').valid">
                                First Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-field-width">
                            <input type="text" matInput placeholder="Last Name" formControlName="lastName">
                            <mat-error *ngIf="!frmSignup.get('lastName').valid">
                                Last Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-field-width">
                            <input type="email" matInput placeholder="Your Email" formControlName="email">
                            <mat-error *ngIf="frmSignup.controls['email'].hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="frmSignup.controls['email'].hasError('email')">
                                Please enter a valid email address
                            </mat-error>
                        </mat-form-field>


                        <mat-form-field class="form-field-width">
                            <input type="password" matInput placeholder="New Password" formControlName="password">
                            <mat-error *ngIf="frmSignup.controls['password'].hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>

                            
                                <mat-error>
                                    <label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                                        <i class="material-icons">
                                            {{ frmSignup.controls['password'].hasError('required') ||
                                            frmSignup.controls['password'].hasError('minlength') ? 'cancel' :
                                            'check_circle' }}
                                        </i>
                                        Must be at least 8 characters!
                                    </label>
                                </mat-error>

                                <mat-error>
                                    <label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                                        <i class="material-icons">
                                            {{ frmSignup.controls['password'].hasError('required') ||
                                            frmSignup.controls['password'].hasError('hasNumber') ? 'cancel' :
                                            'check_circle' }}
                                        </i>
                                        Must contain at least 1 number!
                                    </label>
                                </mat-error>

                                <mat-error>
                                    <label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                                        <i class="material-icons">
                                            {{ frmSignup.controls['password'].hasError('required') ||
                                            frmSignup.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
                                            'check_circle' }}
                                        </i> Must contain at least 1 in Capital Case!
                                    </label>
                                </mat-error>

                                <mat-error>
                                    <label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                                        <i class="material-icons">
                                            {{ frmSignup.controls['password'].hasError('required') ||
                                            frmSignup.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                                            'check_circle' }}
                                        </i>
                                        Must contain at least 1 Letter in Small Case!
                                    </label>
                                </mat-error>
                            

                        </mat-form-field>
                        <div [ngClass]="frmSignup.controls['password'].invalid && frmSignup.controls['password'].touched ? 'password-margin-bottom' : ''"></div>
                        <mat-form-field class="form-field-width">
                            <input type="password" matInput placeholder="Repeat Password" formControlName="confirmPassword">
                            <mat-error *ngIf="frmSignup.controls['confirmPassword'].hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="frmSignup.controls['confirmPassword'].hasError('NoPassswordMatch')">
                                Passwords do not match
                            </mat-error>
                        </mat-form-field>

                    </form>
                    <div class="text-center mb-5 mt-3">
                        <button (click)="onSubmit()" mat-raised-button color="accent" [disabled]="frmSignup.invalid || isLoggingIn">
                            <mat-progress-spinner *ngIf="isLoggingIn" class="upload-spinner" mode="indeterminate" color="accent"
                                diameter="25" strokeWidth="3"></mat-progress-spinner>
                            Sign Up
                        </button>
                        <button mat-button (click)="onLoginClick()">Login</button>
                    </div>
                    <!--/Register form-->
                </div>
            </div>
        </grid-item>

        <grid-item class="three">
        </grid-item>
    </div>
</div>