<div id="scrollMe" #scrollMe class="scroll-container example-scrolling-content">
  <nav [addAttributeOn]='"about"' myClassToAdd="background">
    <button mat-raised-button color="accent" routerLink="/login" role="button" class="mr-2">Login</button>
    <button mat-raised-button color="primary" routerLink="/register" role="button">Register</button>
  </nav>
  <div class="bg"></div>
  <div class="jumbotron" #jumbotron id="jumbotron">
    <div class="container jumbotron-container hidden vertical-center">
      <div class="header-container text-center">

        <h1 class="text-center">Agis Audio</h1>
        <h3 class="text-center">Agis - Spartan King</h3>
        <h5 class="text-center">Listen and Share your music and playlists.</h5>
        <button mat-raised-button color="accent" routerLink="/login" role="button" class="mr-2">Login</button>
        <button mat-raised-button color="primary" routerLink="/register" role="button">Register</button>
        <!-- <div class="button-container"> -->
        <div #bounce id="bounce" class="bounce">
          <button (click)="scrollToAbout()" id="downArrow" class="down-arrow" style="background-color: transparent; border-color: transparent; cursor: pointer;">
            <i class="material-icons">
              arrow_downward
            </i>
          </button>
        </div>
      </div>
      <!-- <div class="afterJumboTron">

            </div> -->

    </div>
  </div>
  <div id="about" #about class="about-container">

    <div class="inside">

      <div class="header-container nav-bar-add  text-center">
        <div id="bounce2" class="bounce2">
          <button (click)="scrollTop()" id="upArrow" class="down-arrow" style="background-color: transparent; border-color: transparent; cursor: pointer; color: white;"
            href="#bottom">
            <i class="material-icons">
              arrow_upward
            </i>
          </button>
        </div>
        <h2>Agis Audio</h2>
        <p>Add youtube links to create playlists and share them with the world.</p>
        <p>The more you share, the more
          others have to listen to.</p>
        <p>If you have any issues, concerns or suggestions please contact admin@agisaudio.com.</p>
        <div #bounce id="bounce3" class="bounce3">
          <button (click)="scrollToBottom()" id="downArrow" class="down-arrow" style="background-color: transparent; border-color: transparent; cursor: pointer; color: white;">
            <i class="material-icons">
              arrow_downward
            </i>
          </button>
        </div>
      </div>
    </div>

  </div>
  <div class="agis-content-wrapper">
    <div class="container header-container agis-content text-center">
        <div id="bounce4" class="bounce4">
            <button (click)="scrollTop()" id="upArrow" class="down-arrow" style="background-color: transparent; border-color: transparent; cursor: pointer; color: black;"
              href="#bottom">
              <i class="material-icons">
                arrow_upward
              </i>
            </button>
          </div>
      <h3>Agis I</h3>
      <p>Agis I, (flourished 11th century BC?), early Spartan king, traditionally held to be the son of Eurysthenes (in legend, one of the twins who founded Sparta). 
        Because the Agiad line of kings was named after him, Agis was perhaps a historical figure. 
        The 4th-century-BC Greek historian Ephorus attributes to Agis the capture of the city of Helos in Laconia and the reduction of its people to helot (serf) status.</p>
    </div>
  </div>

</div>