
<app-navbor *ngIf="isLoggedIn">
</app-navbor>
<!-- <ng-progress #progressBar></ng-progress> -->
<!-- <div class="container"> -->
<mat-sidenav-container class="example-container" >

  <mat-sidenav (openedStart)="openedd()" (closedStart)="closedd()" position="end" #sidenav class="example-sidenav">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <!-- <div class="example-sidenav-content">
        <button type="button" md-button (click)="sidenav.open()">
          Open Sidenav
        </button>
      </div> -->

  <mat-sidenav-content [ngStyle]="{'margin-top.px': marginTop}" class="my-container">

    <nav *ngIf="isLoggedIn" class="tabs-main" mat-tab-nav-bar mat-stretch-tabs aria-label="links">
      <a mat-tab-link *ngFor="let routeLink of routeLinks; let i = index" [routerLink]="routeLink.link"
        routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
        {{routeLink.label}}
      </a>
    </nav>
    <!-- <div class="router-container"> -->
    <router-outlet ></router-outlet>
  </mat-sidenav-content>

  <!-- </div> -->


</mat-sidenav-container>
<!-- </div> -->
<footer *ngIf="isLoggedIn" [ngClass]="{'hide-footer': sideNavOpen}">
  <app-footer (notify)="onNotifyClicked($event)"></app-footer>
</footer>
