.content-wrapper { 
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-bottom: 10em;
    margin-top: 70px;
}

.main-wrapper {
    margin-top: 70px;
}

.sign-in {
    width: 100%;
}

.sign-in-header {
    margin-bottom: 2em;
}
@media (max-width: 576px ) {
    .content-wrapper {
        display:grid;
        grid-template-columns: 1fr;
    }

    .sign-in-header {
        margin-bottom: .2em;
    }
}

.upload-spinner {
    position: absolute;
    margin: auto !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

