<div class="container mt-5">
  <div class="content-wrapper mt-2">

    <grid-item class=one>
    </grid-item>

    <grid-item class="two">

      <div class="card">
        <div class="container">
          <div class="sign-in-header text-center info-color-white">
            <h1 class="text-black m-3">Reset Password</h1>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="errors.length > 0">
            <ul>
              <li *ngFor="let error of errors">
                {{ error }}
              </li>
            </ul>
          </div>
          <form #resetForm="ngForm" (submit)="onSubmit(resetForm)">

            <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input name="email" type="email" id="orangeForm-email" class="form-control" [(ngModel)]="user.email" #email="ngModel" [ngClass]="{'is-invalid':email.errors && email.touched}"
                required mdbActive>
              <label for="orangeForm-email">Your email</label>

              <div [hidden]="!email.errors?.required" class="invalid-feedback">
                Email required
              </div>

            </div>

            <div class="md-form">
              <i class="fa fa-lock prefix grey-text"></i>
              <input autocomplete="new-password" name="password" type="password" id="orangeForm-pass" class="form-control" [(ngModel)]="user.password"
                #password="ngModel" [ngClass]="{'is-invalid':password.errors && password.touched}" required mdbActive>
              <label for="orangeForm-pass">Your password</label>

              <div [hidden]="!password.errors?.required" class="invalid-feedback">
                Password required
              </div>
            </div>

            <div class="md-form">
              <i class="fa fa-lock prefix grey-text"></i>
              <input autocomplete="new-password" name="confirmPassword" type="password" class="form-control" [(ngModel)]="user.confirmPassword"
                #confirmPassword="ngModel" [ngClass]="{'is-invalid':confirmPassword.errors && confirmPassword.touched}" required
                mdbActive>
              <label for="orangeForm-pass">Your password</label>

              <div [hidden]="!confirmPassword.errors?.required" class="invalid-feedback">
                Password confirm
              </div>
            </div>

            <div class="text-center mb-5">
              <!-- <button type="submit" class="btn btn-deep-orange waves-light" mdbRippleRadius>Sign Up</button> -->
              <button type="submit" mat-raised-button color="primary">Reset Password</button>
            </div>


          </form>
        </div>
      </div>
    </grid-item>

    <grid-item class="three">
    </grid-item>
  </div>
</div>