<div class="container mt-5">
  <div class="content-wrapper mt-2">

    <grid-item class=one>
    </grid-item>

    <grid-item class="two">

      <div class="card">
        <div class="container">
          <div class="sign-in-header text-center info-color-white">
            <h1 class="text-black m-3">Reset Password</h1>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="errors.length > 0">
            <ul>
              <li *ngFor="let error of errors">
                {{ error }}
              </li>
            </ul>
          </div>
          <form [formGroup]="frmReset" (submit)="onSubmit()">

              <mat-form-field class="form-field-width">
                  <input type="email" matInput placeholder="Your Email" formControlName="email">
                  <mat-error *ngIf="frmReset.controls['email'].hasError('required')">
                      Email is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="frmReset.controls['email'].hasError('email')">
                      Please enter a valid email address
                  </mat-error>
              </mat-form-field>


              <mat-form-field class="form-field-width">
                  <input type="password" matInput placeholder="New Password" formControlName="password">
                  <mat-error *ngIf="frmReset.controls['password'].hasError('required')">
                      Password is <strong>required</strong>
                  </mat-error>

                  
                      <mat-error>
                          <label [ngClass]="frmReset.controls['password'].hasError('required') || frmReset.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                              <i class="material-icons">
                                  {{ frmReset.controls['password'].hasError('required') ||
                                  frmReset.controls['password'].hasError('minlength') ? 'cancel' :
                                  'check_circle' }}
                              </i>
                              Must be at least 8 characters!
                          </label>
                      </mat-error>

                      <mat-error>
                          <label [ngClass]="frmReset.controls['password'].hasError('required') || frmReset.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                              <i class="material-icons">
                                  {{ frmReset.controls['password'].hasError('required') ||
                                  frmReset.controls['password'].hasError('hasNumber') ? 'cancel' :
                                  'check_circle' }}
                              </i>
                              Must contain at least 1 number!
                          </label>
                      </mat-error>

                      <mat-error>
                          <label [ngClass]="frmReset.controls['password'].hasError('required') || frmReset.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                              <i class="material-icons">
                                  {{ frmReset.controls['password'].hasError('required') ||
                                  frmReset.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
                                  'check_circle' }}
                              </i> Must contain at least 1 in Capital Case!
                          </label>
                      </mat-error>

                      <mat-error>
                          <label [ngClass]="frmReset.controls['password'].hasError('required') || frmReset.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                              <i class="material-icons">
                                  {{ frmReset.controls['password'].hasError('required') ||
                                  frmReset.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                                  'check_circle' }}
                              </i>
                              Must contain at least 1 Letter in Small Case!
                          </label>
                      </mat-error>
                  

              </mat-form-field>
              <div [ngClass]="frmReset.controls['password'].invalid && frmReset.controls['password'].touched ? 'password-margin-bottom' : ''"></div>
              <mat-form-field class="form-field-width">
                  <input type="password" matInput placeholder="Repeat Password" formControlName="confirmPassword">
                  <mat-error *ngIf="frmReset.controls['confirmPassword'].hasError('required')">
                      Password is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="frmReset.controls['confirmPassword'].hasError('NoPassswordMatch')">
                      Passwords do not match
                  </mat-error>
              </mat-form-field>

            <div class="text-center mb-5">
              <!-- <button type="submit" class="btn btn-deep-orange waves-light" mdbRippleRadius>Sign Up</button> -->
              <button type="submit" mat-raised-button color="accent"  [disabled]="frmReset.invalid || isResetting">
                  <mat-progress-spinner *ngIf="isResetting" class="upload-spinner" mode="indeterminate" color="accent"
                  diameter="25" strokeWidth="3"></mat-progress-spinner>
                Reset Password</button>
            </div>


          </form>
        </div>
      </div>
    </grid-item>

    <grid-item class="three">
    </grid-item>
  </div>
</div>