<mat-progress-spinner class="very-pink" *ngIf="isLoading" [diameter]="50" color="accent" style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
<!-- <div class="container"> -->



  <div class="row mt-3 equal wrapper-main" *ngIf="users?.length > 0">

    <ul class="list-unstyled  col-lg-4" *ngFor="let user of users">
      <li class="card h-100">
        <div class="card-body text-black text-center z-depth-1">
          <div class="top-container">
            <h4 class="cardTitle card-title text-truncate mb-3">{{ user.first_name }} {{ user.last_name }}</h4>
          </div>

          <div class="chip-container">
            <button mat-button [routerLink]="['/playlists/folders', {id: user.id, folder: '/', name: user.first_name + ' ' + user.last_name}]"
               
              >View Collection</button>

              <!-- <buttton (click)="getFolders(user)" mat-button color="primary">View Collection</buttton>  -->
            <!-- <button *ngIf="folder_type == 'speakers'" [routerLink]="['/speakers/folders', {id: user.id, folder: '/', folder_type: 'speakers', name: user.first_name + ' ' + user.last_name}]"
              mat-button color="black">View Library</button> -->
            <div class="mt-4">
              <mat-chip-list>
                <mat-chip selected color="accent" class="number-tracks">{{user.number_tracks}} tracks</mat-chip>

                <mat-chip selected color="accent" class="number-folders">{{user.number_folders}} playlists</mat-chip>
              </mat-chip-list>
            </div>
          </div>

        </div>
      </li>
    </ul>
    
  </div>
<!-- </div> -->