.very-pink::ng-deep circle {
	stroke:  #ff9800;
  }

// .selector-form {
//     float: right;
// }

.thumbs-up {
  position: absolute;
  left: .5em;
  bottom: .5em;
}

.play-icon {
  color: white;
}

.play-button {
  position: absolute;
  right: 1em;
  bottom: 1em;
  opacity: 1 !important;
}

@media (max-width: 576px ) {
  h1 {
      font-size: 2em !important;
  }
}

.card .card-body h5 {
  margin-bottom: 5px !important;
}

.cardTitle {
  position: relative;
  font-size: 1.5em;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-height: 2em;
  line-height: 1em;
  margin-top: 7px;
  margin-right: 3px;
  margin-left: 3px;
  
  opacity: 1;
}

.list-unstyled {
  margin: 0px;
  padding-top: .4em;
    padding-bottom: .4em;
    padding-left: .3em;
    padding-right: .3em;
}

@media (max-width: 576px ) {
  .list-unstyled {
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: .1em;
    padding-right: .1em;
  }
}

.container {
  margin-bottom: 10em;
}

.bottom-banner {
  display: block;
  position: absolute;
  width: 100%;
  height: 5em;
  background-color: rgba(14,14,14, 0.6);
  bottom: 0px
}



.card-body {
  padding: 0px
  
}

.card {
  background-size: cover;
  margin: 0px;
  min-height: 12em;
}

