 
* {
    margin: 0;
}
html, body {
    height: 100%;
    background-image: url(/assets/blush-pink-fade-marble-textures-plain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    top: 0;
    left: 0;
    background-position: 50% 50%;
}

/* .bg {
    height: 100%;
    background-image: url(/assets/blush-pink-fade-marble-textures-plain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
} */

.trackDialog .mat-dialog-container {
    background: white;
}

footer {
    z-index: 5;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: white;
  } 

app-root {
    background-color: rgba(0,0,0,0);
}

body,button:focus,
body,input:focus,
body,select:focus,
body,textarea:focus {
  outline: none;
}